body {
  background: #f2f2f2;
  -moz-osx-font-smoothing: auto;
}

body > div {
  background: white;
}

a.line-button {
  text-decoration: none;
  color: #004fc9;
  transition: all 0.08s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #004fc9;
  padding: 5px 7px;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
}

a.line-button svg {
  margin-left: 4px;
  transition: all 0.08s ease-in-out;
}

a.line-button:hover {
  background-color: #004fc9;
  color: white;
}

a.line-button:hover svg {
  margin-left: 10px;
}

a.line-button__invert {
  color: white;
  border-color: white;
}

a.line-button__invert:hover {
  color: #004fc9;
  background-color: white;
}
